<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:100,300"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>ChatApp - Rooms</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="/js/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" href="/css/signupStyles.css" />
  </head>
  <body>
    <div class="login-wrap">
      <div class="login-html">
        <p class="title-header">Meet & Tang</p>
        <input
          id="tab-1"
          type="radio"
          name="tab"
          class="sign-in"
          checked
        /><label for="tab-1" class="tab">Sign In</label>
        <input id="tab-2" type="radio" name="tab" class="sign-up" /><label
          for="tab-2"
          class="tab"
          >Sign Up</label
        >
        <div class="login-form" id="mainDiv">
          <div class="sign-in-htm">
            <div class="group">
              <label for="user" class="label">Username</label>
              <input id="user" type="text" class="input" />
            </div>
            <div class="group">
              <label for="pass" class="label">Password</label>
              <input
                id="pass"
                type="password"
                class="input"
                data-type="password"
              />
            </div>
            <div class="group">
              <input id="check" type="checkbox" class="check" checked />
              <label for="check"
                ><span class="icon"></span> Keep me Signed in</label
              >
            </div>
            <div class="group">
              <input type="submit" class="button" value="Sign In" />
            </div>
            <ul id="socials">
              <li class="facebook">
                <a href="/auth/facebook"
                  ><i class="fa fa-facebook icons"></i
                ></a>
              </li>
              <li class="twitter">
                <a href="/auth/twitter"><i class="fa fa-twitter icons"></i></a>
              </li>
              <li class="google">
                <a href="/auth/google"><i class="fa fa-google icons"></i></a>
              </li>
            </ul>
            <div class="hr"></div>
          </div>
          <form class="sign-up-htm" id="signup">
            <div class="group">
              <label for="user" class="label">Username</label>
              <input id="username" type="text" class="input" />
            </div>
            <div class="group">
              <label for="pass" class="label">Password</label>
              <input
                id="password"
                type="password"
                class="input"
                data-type="password"
              />
            </div>
            <div class="group">
              <label for="pass" class="label">Email Address</label>
              <input id="email" type="email" class="input" />
            </div>
            <div class="group" id="registerDiv">
              <input
                type="submit"
                id="register"
                class="button"
                value="Sign Up"
              />
            </div>

            <ul id="socials">
              <li class="facebook">
                <a href="/auth/Facebook"
                  ><i class="fa fa-facebook icons"></i
                ></a>
              </li>
              <li class="twitter">
                <a href="/auth/twitter"><i class="fa fa-twitter icons"></i></a>
              </li>
              <li class="google">
                <a href="/auth/google"><i class="fa fa-google icons"></i></a>
              </li>
            </ul>
            <div class="hr"></div>
            <div class="foot-lnk">
              <a> <label for="tab-1">Already Member? Sign In</label></a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
